main {
    margin-top: 60px;
    padding: 15px;
}
main h3 {
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 15px;
}
.card_row_div {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    background: #EFF0F4;
    padding: 15px;
}
.card_row_div .col_3 {
    width: 182px;
    text-align: center;
    cursor: pointer;
    background: #fff;
}
.card_row_div .col_3 a {
    text-decoration: none;
    color: #000;
}

.card_row_div .col_3 .card .card_title {
    padding: 15px;
    font-size: 13px;
    text-transform: uppercase;
    color: #333;
}
.card_row_div .col_3 .card .card_body {
    padding-bottom: 15px;
    font-size: 30px;
}

/*---------appointment_result------------*/
.appointment_result {
    background: #EFF0F4;
    padding: 15px;
}
.appointment_result .row {
    margin-bottom: 15px;
}
#error_appt {
    width: 100%;
    background: orange;
    color: #fff;
    font-size: 13px;
}
.row form input {
    padding: 4px 12px;
    border: none;
    background: #fff;
    cursor: pointer;
    outline: none;
    margin-right: 5px;
    transition: all .2s ease-in-out;
    font-size: 13px;
}
.row form input:hover {
    background: gold;
}
.row form input:nth-child(1) {
    border-bottom: 1px solid grey;
    background: none;
}


.appointment_result .row_app, .row_label {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.row_app {
    padding: 15px;
    background: #fff;
}
.row_label {
    text-transform: uppercase;
    color: #fff;
    background: #324e9e;
    padding: 0 15px;
    align-items: center;
}
.appointment_result .row_app .col_app,
.appointment_result .row_label .col_app {
    width:  10%;
    margin-right: 15px;
    font-size: 13px;
}
.appointment_result .row_app .col_app,
.appointment_result .row_label .col_app :not(.col_app:nth-child(4)) {
    padding-top: 15px;
}


.appointment_result .row_label .col_app:nth-child(4) {
    width: 22%;
    padding: 15px;
}
.appointment_result .row_app .col_app:nth-child(4) {
    width: 22%;
    padding: 15px;
    background: none;
    color: #333;
    font-size: 14px;;
}
.appointment_result .row_app .col_app:nth-child(4) p {
    margin-bottom: 2px;
}
.appointment_result .row_app .col_app:nth-child(4) p:nth-child(1) {
    color: #324e9e;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.appointment_result .row_app .col_app:nth-child(4) p:nth-child(4) {
    color: #324e9e;
    margin-top: 10px;
}
.appointment_result .row_app .col_app:nth-child(6),
.appointment_result .row_label .col_app:nth-child(6) {
    width: 20%;
}
.appointment_result .row_app .col_app:nth-child(5),
.appointment_result .row_label .col_app:nth-child(5) {
    width: 12%;
}



.appointment_result .row_app .col_app textarea {
    width: 90%;
    height: 105px;
    resize: none;
    padding: 5px;
    border: 1px solid gray;
}
.appointment_result .row_app .col_app input,
.appointment_result .row_app .col_app button {
    width: 90%;
    padding: 4px 12px;
    margin-bottom: 10px;
    font-size: 13px;
    cursor: pointer;
    border: none;
    color: #fff;
    background: #324e9e;
}

.appointment_result .row_app .col_app:nth-child(5) input:nth-child(1),
.appointment_result .row_app .col_app:nth-child(5) button {
    border: none;
    border-bottom: 1px solid gray;
    background: none;
    padding: 4px 12px;
    color: #333;
}
.appointment_result .row_app .col_app:nth-child(7) input {
    border: none;
    background: #EB4235;
    padding: 4px 12px;
}
.appointment_result .row_app .col_app:nth-child(7) button {
    background: #324e9e;
}
.appointment_result .row_app .col_app:nth-child(7) a {
    color: #fff;
}