.main_container {
    width: 100%;
    height: 80vh;
    margin-top: 80px;
    background-image: url("../image/calendar.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}
.main_container .homepage {
    width: 600px;
    text-align: center;
}
.homepage img {
    margin-bottom: 20px;
}
.homepage p {
    color: #fff;
    text-shadow: 1px 1px 5px #0005;
    font-family: 'Roboto';
    font-size: 16px;
}
.homepage h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    font-size: 46px;
    text-shadow: 1px 1px 5px #0005;
}
.homepage button {
    background: #324E9E;
    border: none;
    padding: 10px 100px;
    cursor: pointer;
    color: #fff;
    transition: all .2s ease-in-out;
}
.homepage button:hover {
    background: #5463FF;
    transform: scale(1.05);
}







.announcement_container {
    width: 100%;
}
.announcement {
    background: #fff;
    display: flex;
    width: 100%;
    padding: 80px 0;
}
.announcement .img_announcement {
    width: 30%;
    background-image: url(../image/announcement.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}
.announcement .fetch_content {
    width: 70%;
    padding: 80px;
    background-color: #324E9E;
    color: #eee;
}
    .fetch_content h2 {
        font-family: 'Times New Roman';
        font-size: 20px;
        margin-bottom: 20px;
    }
    .announcement_div:not(:last-child) {
        margin-bottom: 20px;
    }
    .announcement_div .date_title {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .announcement_div .date_title h1 {
        font-family: 'Roboto';
        font-size: 16px;
    }
    .announcement_div .date_title h3 {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 13px;
    }
    .announcement_div p {
        width: 80%;
        font-family: 'Roboto Serif';
        font-size: 13px;
    }
    .fetch_content button {
        border: none;
        background: #fff;
        width: 220px;
        height: 30px;
    }
    .fetch_content a {
        font-family: 'Roboto';
    }