
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

    }
    body {
        background: #fff;
    }
    .header {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2%;
        position: fixed;
        z-index: 999;
        top: 0;
        background: #fff;
        box-shadow: 0 4px 4px -2px #0001;
    }
    .menu_container {
        display: flex;
        align-items: center;
    }
    .title_container {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .title_container h3 {
        font-family: roboto;
        color: #333;
        text-align: center;
        transform: translateX(50px);
    }
    .sign_user {
        display: flex;
    }
    .sign_user p {
        color: #333;
        text-decoration: underline;
        transition: all .2s ease-in-out;
    }
    .sign_user p:hover {
        color: #324e9e;
        text-decoration: none;
        cursor: pointer;
    }
    .sign_user button{
        border: none;
        background: none;
        font-family: Poppins;
        color: #333;
        text-transform: uppercase;
        font-size: 13.5px;
    }

    .login {
        margin-right: 6px;
    }
    .register {
        margin-left: 6px;
    }



    /*-----.menu-bar-----*/
    
    .menu-btn {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: all .2s ease-in-out;

    }
    .menu-btn-burger {
        width: 21px;
        height: 2.2px;
        background: #333;
        transition: all .2s ease-in-out;
    }
    .menu-btn-burger::before,
    .menu-btn-burger::after {
        content: '';
        position: absolute;
        width: 21px;
        height: 2.2px;
        background: #333;
        transition: all .2s ease-in-out;
    }
    .menu-btn-burger::before {
        transform: translateY(-6px);
    }
    .menu-btn-burger::after {
        transform: translateY(6px);
    }

    /*-----Animation-----*/

    .menu-btn.open .menu-btn-burger {
        background: transparent;
    }
    .menu-btn.open .menu-btn-burger::before {
        height: 1px;
        transform: rotate(45deg);
    }
    .menu-btn.open .menu-btn-burger::after {
        height: 1px;
        transform: rotate(-45deg);
    }

    /*-----Sidebar-----*/
    .nav_container {
        width: 380px;
        height: 90vh;
        background: #FFF;
        border-right: 1px solid lightgrey;
        border-top: 1px solid lightgrey;
        position: fixed;
        top: 80px;
        transition: all .2s ease-in-out;
        transform: translateX(-380px);
        opacity: 0;
        z-index: 888;

    }
        .nav_container nav {
            width: 100%;
            height: 100%;
        }
        .nav_container nav ul {
            margin-top: 80px;
            width: 100%;
            padding-left: 40px;
        }
        .nav_container nav ul h4 {
            font-family: Lato;
            text-transform: uppercase;
            color: #333;
            font-weight: 500;
            font-size: 14px;
            text-decoration: underline;
        }
        .nav_container nav ul button {
            border: none;
            padding: 8px 20px;
            color: #eee;
            cursor: pointer;
            font-size: 13px;
            font-weight: 500;
            font-family: Lato;
            font-weight: 500;
            text-transform: uppercase;
            width: 180px;
        }
        .button_ma {
            margin-bottom: 20px;
            margin-top: 8px;
            background: #444;
        }
        .button_saa {
            margin-top: 20px;
            background: #444;
        }
        .nav_container nav ul a {
            text-decoration: none;
            font-family: Roboto;
            color: #444;
            font-size: 16px;
            text-transform: uppercase;
            transition: all .1s ease-in;
            font-weight: 600;
        }
        .nav_container nav ul li {
            list-style-type: none;
            padding: 20px 0;
            margin-left: 5px;
        }
        .nav_container nav ul .a_link_after::after {
            content: '';
            position: absolute;
            background: gold;
            width: 80px;
            height: 1px;
            transform: translateY(-15px);
        }
        .nav_container nav ul .a_link_after:hover {
            font-size: 20px;
            font-weight: 600;
            color: #324e9e;
        }
  




        /*-----login form-----*/

    .login_sidebar {
        width: 100%;
        height: 90vh;
        background: #0005;
        position: fixed;
        top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100vh);
        opacity: 0;
        transition: all .2s ease-in-out;
        z-index: 888;

    }
    
/*---------login_form here-------------*/
.login_form_div {
    width: 100%;
    height: 60vh;
    padding: 40px;
}

        .forgot_pass_div {
            display: none;
        }

    .form_content {
        width: 760px;
        height: 60vh;
        display: flex;
    }


    .form_content .gsck_img,
    .form_content .form_container_div {
        width: 50%;
        height: 60vh;
        background: #fff;
    }
    .form_content .gsck_img {
        background-image: url("../image/school.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .login_form_div form {
        width: 100%;
        padding-top: 20px;
    }
    .login_form_div form h2 {
        color: #333;
        font-size: 22px;
        text-decoration: underline;
        margin-bottom: 8px;
    }
    .login_form_div form p {
        font-weight: 500;
        font-family: Lato;
        font-size: 14px;
        color: #333;
        margin-bottom: 40px;
    }
    .login_form_div form .input_box {
        display: flex;
        align-items: center;
        width: 100%;
        height: 32px;
        border: 1px solid lightgrey;
        padding: 0 10px;
        margin-bottom: 12px;
    }
    .login_form_div form .input_box .icon {
        width: 20px;
    }
    .login_form_div form .input_box input {
        width: 100%;
        height: 32px;
        border: none;
        outline: none;
        background: none;
    }
    .login_form_div form .input_button_div {
        width: 100%;
    }
    .login_form_div form .input_button_div .login_button {
        width: 100%;
        border: none;
        background: #324e9e;
        height: 32px;
        font-family: lato;
        color: #eee;
        margin-bottom: 10px;
        cursor: pointer;
    }
    .option_div button {
        background: none;
        border: none;
        font-family: lato;
        font-size: 14px;
        text-decoration: underline;
        color: #324e9e;
        cursor: pointer;
    }
    #message {
        color: red;
        margin-top: 10px;
        font-style: italic;
    }
 



    .register_sidebar {
        width: 100%;
        height: 90vh;
        background: #0005;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 80px;
        transform: translateY(-100vh);
        opacity: 0;
        transition: all .2s ease-in-out;
        z-index: 888;
    }
    .register_container {
        width: 760px;
        height: 60vh;
        background: #fff;
    }





    .bg-outer {
        border: none;
        width: 40px;
        margin: 0 auto;
        height: 40px;
        background: #5463FF;
        display: flex;
        align-items: center;
        border-radius: 50%;
        float: right;
        transform: translate(20px, -20px);
    }
    .outer {
        position: relative;
        margin: auto;
        width: 28px;
        cursor: pointer;
    }

    .outer .inner {
        width: inherit;
        text-align: center;
    }

    .outer .inner label { 
        font-size: 11px;
        line-height: 21px;
        text-transform: uppercase;
        color: #fff;
        font-family: Lato;
        transition: all .1s ease-in;
        opacity: 0;
        cursor: pointer;
    }

    .inner:before, .inner:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 28px;
        background: #fff;
        left: 0;
        transition: all .2s ease-in;
    }

    .inner:before {
        top: 50%; 
        transform: rotate(45deg);  
    }

    .inner:after {  
        bottom: 50%;
        transform: rotate(-45deg);  
    }

    .outer:hover .inner label {
        opacity: 1;
    }

    .outer:hover .inner:before,
    .outer:hover .inner:after {
        transform: rotate(0);
    }

    .outer:hover .inner:before {
        top: 0;
    }

    .outer:hover .inner:after {
        bottom: 0;
    }
    .btn_logout_link {
        margin-left: 15px;
        margin-right: 14px;
    }
    .btn_logout_link a{
        text-decoration: none;
        padding: 4px 12px;
        color: #fff;
        font-size: 12px;
        background: #444;
    }
    .fa.fa-bell-o {
        font-size: 18px;
        transform: translateY(2px);

    }
    .fa.fa-bell-o:hover {
        animation-name: bell_icon;
        animation-duration: .5s;
        animation-iteration-count: 3;
    }
    @keyframes bell_icon {
        0% {
            transform: rotate(-10deg) translateY(2px);
        }
        50% {
            transform: rotate(10deg) translateY(2px);
        }
        100% {
            transform: rotate(-10deg) translateY(2px);
        }
    }
 
    .dropdown-menu {
        width: 400px;
        height: 92vh;
        position: fixed;
        top: 80px;
        right: 0;
        list-style-type: none;
        box-sizing: border-box;
        padding: 20px 40px;
        padding-top: 30px;
        opacity: 0;
        transform: translateX(55vh);
        transition: all .2s ease-in-out;
        background: #444;
    }
 
    /* width */
    ::-webkit-scrollbar {
    width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #fff; 
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: gray; 
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: gold; 
    }

    .notif_container {
        padding: 20px;
        border-bottom: 1px solid lightgrey;
        transition: all .2s ease-in-out;
    }
  
    .notif_container:last-child {
        border: none;
    }

    .notif_container a {
        text-decoration: none;
        color: #fff;
    }
    .notif_container a:visited {
        color: grey;
    }
    .notif_container .notif_title {
        font-family: roboto;
        margin-bottom: 5px;
        font-size: 13px;
    }

    .notif_container small {
        font-size: 14px;
        color: #eee;
    }
    .count {
        height: 14px;
        width: 14px;
        font-size: 9px;
        font-family: roboto;
        font-weight: bold;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -4px;
        right: -5px;
    }
